/* font family link */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}


/* !---------- common color  */
 .text_primary_color {
 @apply  bg-gradient-to-r from-[#f5bd4d] to-[#f89222] bg-clip-text text-transparent

}
 .text_secondary_color {
color: rgba(255, 255, 255, 1);

}

.bg_primary_color {
@apply bg-[#171b1A]
  
 }


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
