/* font family link */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}


/* !---------- common color  */

 .text_primary_color {
 @apply  bg-gradient-to-r from-[#f5bd4d] to-[#f89222] bg-clip-text text-transparent

}
 .text_secondary_color {
color: rgba(255, 255, 255, 1);

}

.bg_primary_color {
@apply bg-[#171b1A]
  
 }


 /* !----------- */
 .social_icons_box {
  box-shadow: 0px -10px 25px 0px rgba(255, 255, 255, 0.09);
background: rgba(0, 0, 0, 1);
 }

 .section_sub_title_bg {
  background: linear-gradient(87.71deg, rgba(245, 189, 77, 1) 0.362%,rgba(248, 146, 34, 1) 99.88%);
 }



 .primary_btn {
@apply   flex justify-center items-center gap-1.5  cursor-pointer    ;
padding: 12px 24px 12px 24px;
border-radius: 50px;
background: linear-gradient(87.71deg, rgba(245, 189, 77, 1) 0.362%,rgba(248, 146, 34, 1) 99.88%);
 }



 .secondary_btn {
   @apply border border-[#F7A030]  px-5 py-3  cursor-pointer
 }

 .section_title {
  @apply capitalize ;
  color: rgba(255, 255, 255, 1);
font-size: 48px;
font-weight: 700;


 }


 .resume_badge{
  @apply w-[87px] h-[26px] text-[14px] font-bold flex justify-center items-center mb-3  ;
border: 1px solid rgba(255, 255, 255, 0.2);
color: rgba(255, 255, 255, 1);

border-radius: 4px;
 }


 .resume_card {


padding : 20px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 8px;
background: rgba(18, 20, 20, 1); 
 }


 .skill_name {
  color: rgba(227, 227, 227, 1);
font-size: 24px;
font-weight: 500;


 }

 .skills_progressbar_bg {
  border-radius: 25px;
background: linear-gradient(87.71deg, rgba(245, 189, 77, 0.3) 0.362%,rgba(248, 146, 34, 0.3) 99.88%);
 }


 .portfolio_tab {
  border-radius: 6px;
box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.06);
background: rgba(0, 0, 0, 1);
 } 

 .portfolio_tab_btn {
  @apply  text-[16px] 
  px-4 py-2 text-sm 
  font-normal capitalize  hover:border-b-2 hover:text-[#f1a43a] border-[#f1a43a] transition-all cursor-pointer ;
  color : rgba(255, 255, 255, 1);
 }
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
