/* font family link */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}


/* !---------- common color  */
 .text_primay_color {
 color: linear-gradient(87.71deg, rgba(245, 189, 77, 1) 0.362%,rgba(248, 146, 34, 1) 99.88%);

}
 .text_secondary_color {
color: rgba(255, 255, 255, 1);

}

.bg_primary_color {
  background: rgba(18, 20, 20, 1);
  
 }


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
